[Unit]
Description=Seafile Hub
After=network.target seafile.service

[Service]
ExecStart=/mnt/datengrab/seafile/seafile-server-latest/seahub.sh start
ExecStop=/mnt/datengrab/seafile/seafile-server-latest/seahub.sh stop
User=seafile
Group=seafile
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
